# Created by .ignore support plugin (hsz.mobi)
/.idea/.gitignore
/.idea/ENSF607WebDev.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
