# Created by .ignore support plugin (hsz.mobi)
/.idea/.gitignore
/.idea/ENSF607WebDev.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/venv/
/PreProjectExercise/RESTApi/preProject/preProject/__pycache__/
/PreProjectExercise/RESTApi/preProject/restapi/__pycache__/
/PreProjectExercise/RESTApi/preProject/restapi/migrations/__pycache__/
/.idea/
Milestone1/course-outline/.eslintcache
PreProjectExercise/RESTApi/preProject/.idea/misc.xml
PreProjectExercise/RESTApi/preProject/.idea/modules.xml
PreProjectExercise/RESTApi/preProject/.idea/preProject.iml
PreProjectExercise/RESTApi/preProject/.idea/vcs.xml
PreProjectExercise/RESTApi/preProject/.idea/inspectionProfiles/profiles_settings.xml
PreProjectExercise/RESTApi/preProject/.idea/inspectionProfiles/Project_Default.xml

