# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Santiago\Documents\MEng\ENSF607\ENSF607WebDev\PreProjectExercise\RESTApi\preProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
